* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div.content {
    border: 1px solid black;
    width: 400px;
    height: 600px;
}

#display .equation, .result {
    border: 1px solid black;
    height: 50px;
}

